.place {
    padding-bottom: 80px;
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr;
    grid-gap: 48px 40px;     
    grid-template-areas: 
        'title website'
        'img paragraph';
}
.place:last-of-type {
    padding-bottom: 0;
}
@media screen and (max-width: 1024px) {
    .place {
        grid-gap: 48px 32px;     
    }   
}
@media screen and (max-width: 768px) {
    .place {
        padding-bottom: 73px;
        grid-gap: 48px 28px;     
    }   
}
@media screen and (max-width: 460px) {
    .place {
        display: block;
    }   
}